header {
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    margin: -20px;
    padding: 10px;
}

#h-header {
    margin-bottom: -10px;
}

#texto-um {
    padding: 30px;
}

section {
    height: 300px;
    color: white;
    background-position: center right;
    background-image: url(imagens/background001.jpg);
}

#imagem-flor {
    background-color: transparent;
    border: 1px solid black;
}